p {
    font-size: 2rem;
    padding: 1rem 2rem;
    text-align: start;
}

h1 {
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: .5rem;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .75rem;
    padding: 2rem 0;
}

.h2-letter-spacing {
    letter-spacing: .5rem;
}

h3 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.35rem;
    /* padding: 2rem 0; */
}

.ul-list {
    list-style-type: disc;
    list-style-position: outside;
    text-align: left;

    & > li {
        margin-bottom: .8rem;
        line-height: 1.5;
        font-size: 2rem;
    }
}

.small-caps {
    font-variant: small-caps;
}