:root {
    
    /* --colour-primary: #2C3E50;
    --colour-primary-2: #24507b;
    --colour-primary-light: #61727B;
    --colour-primary-light-1: #95A5A6;
    --colour-primary-light-2: #C1CBCC;
    --colour-primary-light-3: #ECF0F1; */

    /* --colour-primary: #6D7993;
    --colour-secondary: #96858F;
    --colour-tertiary: #9099A2;
    --colour-grey: #D5D5D5; */

    --colour-primary: #333A56;
    --colour-secondary: #52658F;
    --colour-tertiary: #F7F5E6;

    --colour-grey: #E8E8E8;

    --colour-white: #FFFFFF;
    --colour-black: #2C2C2C;

    --scale-factor: 1;

    --text-shadow-size-pos: 1px;
    --text-shadow-size-neg: -1px;
    
    --navbar-height: 50px;
    
    /* Media breakpoints */
    /* --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px; */
}