:root {
    
    /* --colour-primary: #2C3E50;
    --colour-primary-2: #24507b;
    --colour-primary-light: #61727B;
    --colour-primary-light-1: #95A5A6;
    --colour-primary-light-2: #C1CBCC;
    --colour-primary-light-3: #ECF0F1; */

    --colour-primary-light: rgb(109, 121, 147);
    --colour-maroon: #96858F;

    --colour-primary: #333a56;
    --colour-primary-dark: #333a565f;

    --colour-secondary: #52658F;

    --colour-tertiary: #f9f5dd;
    --colour-tertiary-dark: #f9f5dddc;

    --colour-grey: #F5F5F5;

    --colour-white: #FDFDFD;
    --colour-black: #2c2c2c;

    --scale-factor: 1;

    --text-shadow-size-pos: 1px;
    --text-shadow-size-neg: -1px;

    --section-padding: 2rem;
    
    --navbar-height: 55px;
    
    /* Bootstrap breakpoints */
    /* 
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
    */
}