.row-top {
    height: 100vh;
    padding-top: calc(var(--navbar-height)) !important;
}  

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
