.row-top {
    height: 100vh;
    padding-top: calc(var(--navbar-height) + 1rem) !important;
}  

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 1rem 1rem; */
    gap: 5rem;
    /* max-width: 500px; */
}
