.home {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--colour-white);
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;    
    /* background-image: linear-gradient(
        to right bottom,
        var(--colour-secondary-light) 0%, var(--colour-secondary-lighter) 100%
    ); */
    
    div {
        background-color: none;
    }

    div.home__title {
        background-color: var(--colour-white);
        width: 100%;
        text-transform: capitalize;
        font-size: 6rem;
        letter-spacing: 0.25rem;
    }

    /* div.home__main {
        width: 50%;
    } */

    div.home__image {
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../images/laptop2.jpg);
        width: 50%;
    }

}