.navbar {
    position: fixed;
    /* right: 1rem; */
    /* top: 1rem; */
    height: var(--navbar-height);
    text-decoration: none;
    user-select: none;
    display: none;
    background-color: var(--colour-primary);
    /* box-shadow: 0 1px 20px 10px grey; */

    /* enable left and right positioning of logo and navbar buttons */
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__logo--link {
    height: 100%;
}

.navbar__logo {
    height: inherit;
    padding: 0.40rem 1rem;
}

.navbar__items {
    /* display: none; */
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.30rem;
    text-transform: uppercase;
    padding: 0.40rem 1rem;
    border-radius: 10px;  
}

.navbar__button {
    display: inline-block;
    background-color: var(--colour-black);
    border-radius: inherit;
    padding: inherit;
    color: var(--colour-white);
    text-decoration: none;

    /* Initial state without animations */
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: bottom;

    /* State on hover */
    &:hover {
        background-image: linear-gradient(var(--colour-white) 0%, var(--colour-white) 100%);
        background-size: 100% 100%;
        /* background-color: var(--colour-white); */
        color: var(--colour-black);  

        /* Add animation only for hover */
        transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    /* State during mousedown */
    &:active {
        /* Need to cancel animation states on hover so that this works */
        background-image: none;
        transition: none;

        background-color: var(--colour-white);
        color: var(--colour-black);
        transform: scale(0.95); /* Adjust size of button */
    }
}


@media (min-width: 920px) {
    .navbar {
        display: flex;
    }
}
