.accordion {
    visibility: hidden;
    max-height: 0;
    transition: all .3s ease;
    cursor: default;
}

.accordion--open {
    max-height: 40rem;
    background-color: inherit;
    border-radius: inherit;

    visibility: visible;
    transition: all .8s ease;
}

.accordion__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    fill: var(--colour-white);
}

.accordion__plus {
    position: absolute;
    top: .3rem;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;

    opacity: 1;
    transition: all .3s ease;
}

.accordion__plus--hidden {
    opacity: 0;
    transform: rotate(360deg);
    transition: all .6s ease;
}

.accordion__minus {
    position: absolute;
    top: .3rem;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;

    opacity: 0;
    transition: all .3s ease;
}

.accordion__minus--show {
    opacity: 1;
}

.accordion--line {
    visibility: hidden;
    /* top right bottom left */
    margin: .5rem 2rem 1rem 1rem;
    border: .1rem solid var(--colour-white);
}

.accordion--open .accordion--line {
    visibility: visible;
}

.accordion__points {
    /* top right bottom left */
    margin: 2rem 1rem 0 1rem;
    padding-left: 2rem;
}