.card {
    width: 40rem;
    height: auto;
    background-color: var(--colour-white);
    /* border: 1px solid var(--colour-secondary); */
    color: var(--colour-primary);
    font-size: 1.5rem;
}

.card__title {
    background-color: var(--colour-primary);
    color: var(--colour-white);
    height: fit-content;
    font-size: 1.7rem;
    padding: .4rem 0;
}

.card__content {
    margin-top: 1rem;
    /* padding-top: 1rem; */
    position: relative;

    &:hover .card__icon {
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
    }
}

.card__image {
    display: block;
    width: 100%;
    width: -moz-available; 
    width: -webkit-fill-available;
    height: 25rem;
    transition: all .4s;

    &:hover {
        opacity: .3;
    }
}

.card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    width: 3rem;
    height: 3rem;
    fill: var(--colour-primary);
}

/* No icon display on mobile or tablets */
@media (max-width: 768px) {
    .card__icon { display: none;}
}