.carousel__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 .5px 10px 0 var(--colour-grey-blue);
}

.carousel {
    padding: 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--carousel-gap);
    transition: transform .5s ease-in-out;
}

.carousel__item {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: var(--colour-secondary-dark);

    display: flex;
    flex: 0 0 auto; /* Prevents shrinking, maintains item width */
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 2rem;
    clip-path: circle(50% at center); /* Ensure text within circle */

    & > p {
        text-align: inherit;
        font-size: 1.9rem;

        & > span {
            display: block;
            max-width: 95%;
            justify-self: center;

            & > a {
                text-decoration: none;
                color: inherit;
                &:hover {color: var(--colour-tertiary);}
            }
        }
    }
}

.carousel__title {
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .2rem;
}

.carousel__btn {
    transform: scale(0.80);
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    
    & > .btn {
        width: 6.5rem;
        height: 5rem;

        & > svg {
            width: 3.5rem;
            height: 3.5rem;
            margin-top: -.2rem;
            color: var(--colour-primary);
        }
    }
}

#prevBtn { transform: rotate(180deg) }
