.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(44, 44, 44, .8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    /* when popup is open */
    /* &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    } */
}

.popup--active {
    opacity: 1;
    visibility: visible;
}

.popup--active .popup__container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup__container {
    /* absolute center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.2);
    opacity: 0;
    transition: all .4s .1s;

    width: 70%;
    height: 85%;
    max-width: 1400px;
    overflow-y: scroll;
    background-color: var(--colour-grey-blue);
    box-shadow: 0 2rem 4rem rgba(44, 44, 44, .2);

    font-size: 5rem;
    text-align: center;
    align-content: start;
}

.popup__content {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 5rem;
}

.popup__gotoapp {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.popup__content p {
    margin-top: 2rem;
    padding: 0;
}

.popup__image {
    width: 90%;
    height: auto;
    max-width: 1000px;
}

/* Laptop/Desktop Screen Styles */
@media (max-width: 768px) {

    .popup__container {
        width: 95%;
        height: 80vh;
        margin-top: -2rem;

        & > div {
            padding: 0 1rem;

            & > p {
                padding: 0 .75rem;
            }
        }
    }
}

.popup__close {
    color: var(--colour-primary);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    line-height: 3rem;

    &:hover {
        color: var(--colour-secondary);
    }

    &:active {
        transform: scale(.9);
    }
}