.hero {
    /* background-image: linear-gradient(to top, var(--colour-primary), rgba(51, 58, 86, .35)), url(../../images/cover4-min.JPG);
    background-blend-mode: screen; */

    background-image: linear-gradient(to top, var(--colour-primary-opacity-bottom), var(--colour-primary-opacity-top)), url(../../images/cover.jpg);
    background-blend-mode: normal;

    background-size: cover;
    background-position: top center;
    align-content: center;
    padding-bottom: calc(var(--navbar-height)) !important;
}

.hero__main {
    align-content: center;
    text-align: center;
    color: var(--colour-white);
    padding: 0 5px;

    & > h1 {
        letter-spacing: 1rem;
        padding-bottom: 2rem;
        /* font-size: 5.5rem; */
        /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
        /* font-weight: 400; */
        /* text-transform: uppercase; */
        font-variant: small-caps;
    }

    & > h2 {
        letter-spacing: 0.75rem;
        padding-bottom: 1rem;
        font-variant: small-caps;
    }

    & > p {
        text-align: center;
        text-transform: lowercase;
        font-style: italic;
    }
}

.hero__btn {
    margin-top: 20px;
}

.hero__logo {
    width: 10rem;
    display: none;
}

.hero__logo--t {
    width: 6rem;
    margin-right: -3.8rem;
    margin-bottom: -.4px;
}


.about {
    background-color: var(--colour-grey-blue);
}

.about__content {
    display: flex;
    align-items: flex-start; /* Aligns text to the top of the logo */
    gap: 10rem; /* Adds spacing between the logo and text */
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    /* padding: 0 5rem; */
}

.about__logo {
    width: 15rem;
    height: auto;
    fill: var(--colour-primary); 
    flex-shrink: 0; 
}

.about__text {
    width: 60%;
}

.about__text--title {
    font-size: 3.5rem;
}

@media (max-width: 768px) {
    .about__content {
        flex-direction: column; /* Stacks the logo and text vertically */
        align-items: center; /* Centers the logo and text */
        gap: 3rem;
    }
    .about__logo {
        width: 10rem;
    }
    .about__text {
        width: 100%;
    }
}

.services {
    background-color: var(--colour-primary);
}

.services__title {
    color: var(--colour-grey-blue);
    padding-bottom: 1.5rem;

    & > h2 > .line,
    .line::before,
    .line::after {
        background-color: var(--colour-grey-blue);
    }
}

/* .services__content {
    padding-bottom: 2rem;
} */

.services__box {
    position: relative;
    width: 30rem;
    height: 25rem;
    border-radius: 10px;
    padding: .5rem;
    /* border-radius: 50%; */
    /* background-color: var(--colour-secondary-dark); */
    box-shadow: 0 .5px 10px 0 var(--colour-grey-blue);
    color: var(--colour-grey-blue);
    transition: all .3s ease;

    & > .services__box--circle {
        position: absolute;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: var(--colour-secondary-dark);
        /* border: 1px solid var(--colour-grey-blue); */

        & > svg {
            width: 3rem;
            height: 3rem;
            margin-top: 1.5rem;
            /* margin-left: .2rem; */
        }
    }

    &:hover {
        transform: scale(1.1);
        transition: all .5s ease;
    }
}

.services__box--text {
    position: absolute;
    top: 45%;
    transform: translateY(-50%, -50%);

    & > h3 {
        font-size: 2.2rem;
        letter-spacing: .9rem;
        text-transform: uppercase;
    }

    & > p {
        text-align: center;
        font-size: 1.6rem;
        padding-top: 2.5rem;
    }
}


.project {
    background-color: var(--colour-grey-blue);
    text-align: center;
}

.project__title {
    color: var(--colour-black);
    /* padding-bottom: 1.5rem; */
}

.project__paragraph--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__paragraph {
    margin-bottom: 5rem;
    /* Max width using X characters */
    max-width: 90ch;
    text-align: left;

    & > a {
        text-decoration: none;
        color: var(--colour-secondary);
    }
}

@media (max-width: 768px) {
    .project__paragraph {
        width: 100%;
    }
}

.project__box--container {
    /* Required to ensure accordions open and close independently */
    align-items: self-start;
    
    margin-bottom: 7rem;
    max-width: 90%;  /* Ensures it doesn't take up the full width */
    width: 1200px;   /* Set a reasonable max width */
    margin-left: auto; /* Centers it horizontally */
    margin-right: auto; /* Centers it horizontally */
}

.project__box {
    width: 45rem;
    height: auto;
    background-color: var(--colour-secondary-dark);
    color: var(--colour-white);
    box-shadow: 0 .5px 10px 0 var(--colour-primary);
    border-radius: 10px;
    /* top right bottom left */
    padding: 1.5rem 1rem 1.5rem 2rem;

    & > h3 {
        text-align: start;
        font-size: 2.3rem;
        position: relative;
        cursor: pointer;

        & > span {
            margin-left: 5rem;
        }

        & > svg {
            margin-top: -.2rem;
        }
    }
}

.project__card--container {
    gap: 10rem;
}

@media (max-width: 768px) {
    .project__card--container {
        gap: 4rem;
    }
}

.project__portfolio--btn {
    margin-top: 4rem;
    & > a > button {background-color: var(--colour-grey-blue);}
}


.testimonials {
    position: relative;
    background-color: var(--colour-primary);
    color: var(--colour-grey-blue);
    /* height: 80vh; */
    padding-right: 0;
    padding-left: 0;
    /* Prevent zoom on double tap */
    touch-action: manipulation;
}

.testimonials__title {
    color: var(--colour-grey-blue);
    padding-bottom: 1.5rem;

    & > h2 > .line,
    .line::before,
    .line::after {
        background-color: var(--colour-grey-blue);
    }

    & > p {
        text-align: center;
        padding-bottom: 3rem;
    }
}


.contact {
    background-color: var(--colour-grey-blue);
    color: var(--colour-black);
    padding-bottom: 0;
}

.contact__text {
    margin: auto;
    padding: 1rem;
}

@media (max-width: 768px) {
    .contact__text {
        max-width: 30ch;
    }
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;

    & > ul {
        list-style-type: none;
        cursor: default;

        & > li > svg {
            fill: var(--colour-secondary);
            margin-bottom: -.1rem;
    
            &:hover {
                transform: scale(1.2);
            }
        }
    
        & > li > a {
            margin-left: 1rem;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
    
            &:hover {
                color: var(--colour-secondary)
            }
        }
    }
}


#map {
    width: 95%;
    height: 40rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #map {
        width: 90%;
        height: 30rem;
    }
}

footer {
    background-color: var(--colour-grey);
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
}