.hero {
    /* background-image: linear-gradient(var(--colour-primary), var(--colour-secondary)); */
    background-image: linear-gradient(to top, var(--colour-primary), var(--colour-primary-dark)), url(../../images/cover4-min.JPG);
    background-size: cover;
    background-blend-mode: screen;
    align-content: center;
    padding-bottom: calc(var(--navbar-height)) !important;
}

.hero__main {
    align-content: center;
    text-align: center;
    color: var(--colour-white);

    & > h1 {
        letter-spacing: 0.75rem;
        /* font-variant: small-caps; */
    }

    & > h1 > img {
        width: 6.8rem;
        margin-right: 1rem;
    }

    & > p {
        text-align: center;
        text-transform: lowercase;
        font-style: italic;
    }
}

.hero__btn {
    margin-top: 20px;
}

.hero__logo {
    width: 10rem;
}

.hero__image {
    width: 30rem;
}

.hero__icon {
    width: 10rem;
    fill: white;
    opacity: 0; /* Initially hidden */
    animation: reveal-left 1s ease-in-out forwards; /* Animation settings */
}

.project {
    background-color: var(--colour-white);
    text-align: center;
    /* padding: 1rem 0; */
    padding-bottom: var(--section-padding);
}

.project__title {
    /* padding: 2rem 0; */
    color: var(--colour-black);
}

.project__subtitle {
    padding-bottom: 3rem;
    color: var(--colour-black);

    & > h3 > a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: var(--colour-secondary);
        }
    }
}

.project__content {
    padding-bottom: var(--section-padding);
}

.project__box {
    width: 40rem;
    height: auto;
    /* background-color: var(--colour-secondary); */
    background-image: linear-gradient(to bottom, var(--colour-primary) 75%, var(--colour-secondary) 100%);
    color: var(--colour-white);
    box-shadow: 0 .5px 10px 0 var(--colour-primary);
    /* border-radius: 10px; */

    & > h3 {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
}

.project__icon {
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    fill: var(--colour-white);
}

.project__arrow {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--colour-white);
    transition: all .3s;

    &:hover {
        fill: var(--colour-tertiary);
        cursor: pointer;
    }
}

.services {
    background-color: var(--colour-secondary);
    padding-bottom: var(--section-padding);
}

.services__title {
    color: var(--colour-white);
}

/* .services__content {
    padding-bottom: var(--section-bottom-padding);
} */

.services__box {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: var(--colour-white);
}

.testimonials {
    background-color: var(--colour-white);
    padding-bottom: var(--section-padding);
}

.contact {
    background-color: var(--colour-grey);
}

#map {
    width: 100%;
    height: 40rem;
}

@media (max-width: 768px) {
    #map {
        width: 100%;
        height: 30rem;
    }
}

footer {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.2rem;
}