.portfolio {
    background-color: var(--colour-white);
}

.portfolio__title {
    padding-top: var(--section-padding-vertical);
    & > p {
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
}

.portfolio__btn--container {
    margin: 2rem 0;
}

.portfolio__btn {
    margin: .5rem .5rem;
}

.portfolio__btn--highlight {
    /* background-color: var(--colour-secondary);
    color: var(--colour-white); */
    background-color: var(--colour-tertiary);
    color: var(--colour-black);
}

.portfolio__item--container {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (max-width: 768px) {
    .portfolio__title {
        padding-top: 1rem;
    }
    .portfolio__item--container {
        padding-top: 1rem;
        gap: 3rem;
    }
}

.portfolio__item--hide {
    display: none;
}