.portfolio {
    background-color: var(--colour-white);
    /* background-image: linear-gradient(to right bottom, var(--colour-primary), var(--colour-secondary)), url(../../images/cover.JPG);
    background-size: cover;
    background-blend-mode: screen; */
}

.portfolio__title {

    & > p {
        padding: 0;
        text-align: center;
        text-transform: lowercase;
        font-style: italic;
    }
}

.portfolio__btn--container {
    margin: 2rem 0;
}

.portfolio__btn {
    margin: .5rem .5rem;
}

.portfolio__btn--highlight {
    background-color: var(--colour-black);
    color: var(--colour-tertiary);
}

.portfolio__item--container {
    padding: 1rem 0;
}

.portfolio__item--hide {
    display: none;
}