.portfolio {
    background-color: var(--colour-white);
}

.portfolio__title {

    & > p {
        padding: 0;
        text-align: center;
        text-transform: lowercase;
        font-style: italic;
    }
}

.portfolio__btn--container {
    margin: 2rem 0;
}

.portfolio__btn {
    margin: .5rem .5rem;
}

.portfolio__btn--highlight {
    /* background-color: var(--colour-secondary);
    color: var(--colour-white); */
    background-color: var(--colour-tertiary);
    color: var(--colour-black);
}

.portfolio__item--container {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.portfolio__item--hide {
    display: none;
}